## 4.3 Data import and descriptive analysis

## Table of Contents

1. [Importing data](#imp)
   1. [Question 1](#q1)
   2. [Question 2](#q2)

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

### 1. Importing data <a class="anchor" id="imp"></a>

In [2]:
# set path 
path = r'/Users/ivarvoorman/CareerFoundry/Data Analytics/Data Immersion/4 Python Fundamentals for Data Analysts/01-2022 Instacart Basket Analysis'

In [3]:
# Load order data 
# list with only necessary columns
vars_list = ['order_id', 'user_id', 'order_number', 'order_dow', 'order_hour_of_day', 'days_since_prior_order']

# read orders.csv to dataframe
df_orders = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders.csv'), usecols= vars_list)

In [14]:
df_orders.head()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [4]:
df_orders.shape

(3421083, 6)

In [15]:
# Load products.csv
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'products.csv'))

In [ ]:
# Print the first 20 rows 
df_prods.head(20)

In [ ]:
# Print last 35 rows 
df_prods.tail(35)

In [18]:
# Print the names of the columns
df_prods.columns

Index(['product_id', 'product_name', 'aisle_id', 'department_id', 'prices'], dtype='object')

In [19]:
# Print the number of rows and columns
df_prods.shape

(49693, 5)

In [ ]:
df_prods.describe()

##### 1. Question 1<a class="anchor" id="q1"></a>

What’s the maximum value of the “aisle_id” column?
Answer: 134

In [22]:
df_prods.dtypes

product_id         int64
product_name      object
aisle_id           int64
department_id      int64
prices           float64
dtype: object

##### 2. Question 2<a class="anchor" id="q2"></a>

What’s the data type of the “department_id” column?
Answer: int64