## 4.8 Grouping Data & Aggregating Variables

### This script contains the following points:

#### 1. Importing data
#### 2. Task 2
#### 3. Task 3  
#### 4. Task 4
#### 5. Task 5
#### 6. Task 6
#### 7. Task 7
#### 8. Task 9

In [27]:
# Import libraries

import pandas as pd
import numpy as np
import os

#### 1. Importing data

In [28]:
# Load order and product data

# set path 
path = r'/Users/ivarvoorman/CareerFoundry/Data Analytics/Data Immersion/4 Python Fundamentals for Data Analysts/01-2022 Instacart Basket Analysis'

# Load orders_products_merged_enriched.pkl to dataframe ords_prods_merge
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged_enriched.pkl'))

#### 2. Task 2

In [29]:
# Aggregate by calculate the mean of the “order_number” column grouped by the “department_id” column
# List the average number of orders per department ID.

ords_prods_merge.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

#### 3. Task 3
<br>
All mean vamues from the subset differ from the complete set because all the data is now aggregated.

#### 4. Task 4

To create loyalty_flag' you’ll need some criteria. You can use the following:
<br>
- If the maximum orders the user has made is over 40, then the customer will be labeled a “Loyal customer.”
- If the maximum orders the user has made is over 10 but less than or equal to 40, then the customer will be labeled a “Regular customer.”
- If the maximum orders the user has made is less than or equal to 10, then the customer will be labeled a “New customer.”

In [30]:
# Split the data into groups based on the “user_id” column.
# Apply the transform() function on the “order_number” column to generate the maximum orders for each user.
# Create a new column, “max_order,” into which you’ll place the results of your aggregation.

ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [31]:
# If the maximum orders the user has made is over 40, then the customer will be labeled a “Loyal customer.”

ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [32]:
# If the maximum orders the user has made is over 10 but less than or equal to 40, then the customer will be labeled a “Regular customer.”
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [33]:
# If the maximum orders the user has made is less than or equal to 10, then the customer will be labeled a “New customer.”
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [34]:
# print the frequency of “loyalty_flag”

ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: loyalty_flag, dtype: int64

#### 5. Task 5
<br>
The marketing team at Instacart wants to know whether there’s a difference between the spending habits of the three types of customers you identified. Use the loyalty flag you created and check the basic statistics of the product prices for each loyalty category (Loyal Customer, Regular Customer, and New Customer). What you’re trying to determine is whether the prices of products purchased by loyal customers differ from those purchased by regular or new customers.

In [35]:
# Show the difference between the spending habits of the three types of customer

ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max']})

                    prices
                      mean  min   max
loyalty_flag
Loyal customer    7.773575  1.0  25.0
New customer      7.801206  1.0  25.0
Regular customer  7.798262  1.0  25.0

#### 6. Task 6
The team now wants to target different types of spenders in their marketing campaigns. This can be achieved by looking at the prices of the items people are buying. Create a spending flag for each user based on the average price across all their orders using the following criteria:
<br>
- If the mean of the prices of products purchased by a user is lower than 10, then flag them as a “Low spender.”  
- If the mean of the prices of products purchased by a user is higher than or equal to 10, then flag them as a “High   spender.”

In [36]:
# Aggregate the average price across the user orders
 
ords_prods_merge['avg_price'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [37]:
# If the mean of the prices of products purchased by a user is lower than 10, then flag them as a “Low spender.”

ords_prods_merge.loc[ords_prods_merge['avg_price'] < 10, 'spending_flag'] = 'Low spender'

In [38]:
# If the mean of the prices of products purchased by a user is higher than or equal to 10, then flag them as a “High spender.”

ords_prods_merge.loc[ords_prods_merge['avg_price'] >= 10, 'spending_flag'] = 'High spender'

In [39]:
# print the frequency of “spending_flag”

ords_prods_merge['spending_flag'].value_counts(dropna = False)

Low spender     32285131
High spender      119728
Name: spending_flag, dtype: int64

#### 7. Task 7
In order to send relevant notifications to users within the app (for instance, asking users if they want to buy the same item again), the Instacart team wants you to determine frequent versus non-frequent customers. Create an order frequency flag that marks the regularity of a user’s ordering behavior according to the median in the “days_since_prior_order” column. The criteria for the flag should be as follows:
- If the median of “days_since_prior_order” is higher than 20, then the customer should be labeled a “Non-frequent customer.”
- If the median is higher than 10 and lower than or equal to 20, then the customer should be labeled a “Regular customer.”
- If the median is lower than or equal to 10, then the customer should be labeled a “Frequent customer.”

In [40]:
# Aggregate the median days since prior order across the user orders
 
ords_prods_merge['median_days_since_prior_order'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [41]:
# If the median of “days_since_prior_order” is higher than 20, then the customer should be labeled a “Non-frequent customer.”
ords_prods_merge.loc[ords_prods_merge['median_days_since_prior_order'] > 20, 'order_frequency_flag'] = 'Non-frequent customer'

In [42]:
# If the median is higher than 10 and lower than or equal to 20, then the customer should be labeled a “Regular customer.”
ords_prods_merge.loc[(ords_prods_merge['median_days_since_prior_order'] > 10) & (ords_prods_merge['median_days_since_prior_order'] <= 20) , 'order_frequency_flag'] = 'Regular customer'

In [43]:
# If the median is lower than or equal to 10, then the customer should be labeled a “Frequent customer.”
ords_prods_merge.loc[ords_prods_merge['median_days_since_prior_order'] <= 10, 'order_frequency_flag'] = 'Frequent customer'

In [44]:
# print the frequency of “order_frequency_flag”

ords_prods_merge['order_frequency_flag'].value_counts(dropna = False)

Frequent customer        21559853
Regular customer          7208564
Non-frequent customer     3636437
NaN                             5
Name: order_frequency_flag, dtype: int64

#### 8. Task 9
<br>
Export your dataframe as a pickle file and store it correctly in your “Prepared Data” folder.

In [45]:
# Export dataframes at the end of a notebook
ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_merge_4_8.pkl'))