## 4.9 Intro to Data Visualization with Python Part 1

## Table of Contents

1. [Importing data](#Importingdata)
2. [Data wrangling](#Datawrangling)
    1. [Drop columns](#Dropcolumns) 
    2. [Rename columns](#Renamecolumns)
    3. [Check and Change data types](#CheckandChangedatatypes)
    4. [Check frequeny of columns](#Checkfrequenyofcolumns)
3. [Consistency Checks](#ConsistencyChecks)
    1. [Mixed-Type Data](#Mixed-TypeData)
    2. [Missing Values](#MissingValues)
    3. [Addressing Missing Values](#AddressingMissingValues)
    4. [Duplicates](#Duplicates)
    5. [Outliners](#Outliners)
4. [Merge data](#Mergedata)
5. [Export data](#Exportdata)

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

### 1. Importing data <a class="anchor" id="Importingdata"></a>

In [2]:
# Load customer data

# set path 
path = r'/Users/ivarvoorman/CareerFoundry/Data Analytics/Data Immersion/4 Python Fundamentals for Data Analysts/01-2022 Instacart Basket Analysis'

# Load customers.csv to dataframe df_customers
df_customers = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'customers.csv'))

# Load ords_prods_merge_4_8.pkl to dataframe ords_prods_merge
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merge_4_8.pkl'))

In [3]:
# List first 5 rows
df_customers.head()

,user_id,First Name,Surnam,Gender,STATE,Age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

In [4]:
# Print the number of rows and columns
df_customers.shape

(206209, 10)

### 2. Data wrangling <a class="anchor" id="Datawrangling"></a>

#### 1. Drop columns <a class="anchor" id="Dropcolumns"></a>

No columns dropped

In [5]:
df_customers.head()

,user_id,First Name,Surnam,Gender,STATE,Age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

#### 2. Rename columns <a class="anchor" id="Renamecolumns"></a>

In [6]:
# Rename columns 
df_customers = df_customers.rename(columns = {'First Name':'first_name', 'Surnam':'last_name', 'Gender':'gender', 'STATE':'state', 'Age':'age'})

In [7]:
df_customers.head()

,user_id,first_name,last_name,gender,state,age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

#### 3. Check and Change data types<a class="anchor" id="CheckandChangedatatypes"></a>

In [8]:
# List column types 
df_customers.dtypes

user_id          int64
first_name      object
last_name       object
gender          object
state           object
age              int64
date_joined     object
n_dependants     int64
fam_status      object
income           int64
dtype: object

No column data type changed.

#### 4. Check frequeny of columns <a class="anchor" id="Checkfrequenyofcolumns"></a>

In [9]:
# Get frequency for column fam_status for df_customers
df_customers['fam_status'].value_counts(dropna = True)

married                             144906
single                               33962
divorced/widowed                     17640
living with parents and siblings      9701
Name: fam_status, dtype: int64

In [10]:
# Get frequency for column gender for df_customers
df_customers['gender'].value_counts(dropna = True)

Male      104067
Female    102142
Name: gender, dtype: int64

In [ ]:
# Get frequency for column state for df_customers
df_customers['state'].value_counts(dropna = True)

### 3. Data Consistency Checks Check frequeny of columns <a class="anchor" id="DataConsistencyChecksCheckfrequenyofcolumns"></a>

#### 1. Mixed-Type Data <a class="anchor" id="Mixed-TypeData"></a>

In [12]:
# Check whether dataframe df_customers contains any mixed-type columns

for col in df_customers.columns.tolist():
  weird = (df_customers[[col]].applymap(type) != df_customers[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_customers[weird]) > 0:
    print (col)

first_name

#### 2. Missing Values <a class="anchor" id="MissingValues"></a>

In [13]:
# Find missing observations for df_customers

df_customers.isnull().sum()

user_id             0
first_name      11259
last_name           0
gender              0
state               0
age                 0
date_joined         0
n_dependants        0
fam_status          0
income              0
dtype: int64

#### 3. Addressing Missing Values <a class="anchor" id="AddressingMissingValues"></a>

I choose for not addressing the missing values in the first_name column.

#### 4. Duplicates <a class="anchor" id="Duplicates"></a>

In [14]:
# Finding Duplicates from df_customers

df_cust_dups = df_customers[df_customers.duplicated()]
df_cust_dups

Empty DataFrame
Columns: [user_id, first_name, last_name, gender, state, age, date_joined, n_dependants, fam_status, income]
Index: []

No full dublicates records in the customers dataset

#### 5. Outliners <a class="anchor" id="Outliners"></a>

In [15]:
# Generate descriptive statistics of df_customers
df_customers.describe()

             user_id            age   n_dependants         income
count  206209.000000  206209.000000  206209.000000  206209.000000
mean   103105.000000      49.501646       1.499823   94632.852548
std     59527.555167      18.480962       1.118433   42473.786988
min         1.000000      18.000000       0.000000   25903.000000
25%     51553.000000      33.000000       0.000000   59874.000000
50%    103105.000000      49.000000       1.000000   93547.000000
75%    154657.000000      66.000000       3.000000  124244.000000
max    206209.000000      81.000000       3.000000  593901.000000

No striking outlines in the age or income column.

### 4. Merge data <a class="anchor" id="Mergedata"></a>

In [16]:
# Test merge ords_prods_merge with df_customers dataframe

df_merged_large_test = ords_prods_merge.merge(df_customers, on = 'user_id', indicator = True)

In [17]:
# Check _merge column if all records have been merged. 

df_merged_large_test['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

All rows have been merged.

In [18]:
ords_prods_cust_merge = ords_prods_merge.merge(df_customers, on = 'user_id', indicator = False)

### 5. Export data <a class="anchor" id="Exportdata"></a>

In [19]:
# Export data to pkl

ords_prods_cust_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_cust_merge.pkl'))